html {
    height: 100%;
    margin: 0!important;
    -webkit-transition: all .33s ease-out;
    -moz-transition: all .33s ease-out;
    transition: all .33s ease-out;
    overflow-y: scroll!important;
}

body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #949494;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}

.page-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 1000;
    -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    transition: left .33s cubic-bezier(.694,.0482,.335,1);
    left: 0;
}

.page-wrapper-inner {
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

#back-to-top.off {
    opacity: 0;
    visibility: hidden;
}

#qodef-back-to-top>span {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3ddce;
    -webkit-transition: background-color .15s ease-out,color .15s ease-out;
    -moz-transition: background-color .15s ease-out,color .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#back-to-top span span {
    display: block;
    line-height: inherit;
}

.content {
    margin-top: 0;
    position: relative;
    z-index: 100;
    background-color: #fff;
}

.content-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.page-header {
    display: block;
}

.menu-area {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 110;
}

.menu-center-area {
    width: 1100px;
    margin: 0 auto;
}

.menu-vertical-aliging-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu-vertical-aliging-containers .position-right {
    position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right;
}

.position-right-inner {
    height: 100%;
}

nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    position: relative;
}

nav>ul>li.qodef-active-item>a

nav>ul>li>a {
    height: 100%;
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    background-color: transparent;
    -webkit-transition: color .15s ease-out,color .15s ease-out,border-color .15s ease-out,background-color .15s ease-out;
    -moz-transition: color .15s ease-out,color .15s ease-out,border-color .15s ease-out,background-color .15s ease-out;
    transition: color .15s ease-out,color .15s ease-out,border-color .15s ease-out,background-color .15s ease-out;
}

.banner_text {
    position: absolute;
    top: 30%; right: 50%;
    transform: translate(50%,-50%);
    width: 80%;
}

.banner_text_up, .banner_text_bottom {
    position: static;
    text-align: right;
    color: rgb(236, 213, 213);
    font-size: 93px;
    letter-spacing: -2px;
    font-family: Poppins;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin: 0px;
    line-height: 111px;
}

.banner_img, img {
    display: block;
    width: 100%;
}

.text_container {
    position: relative;
    z-index: 100;
    background-color: #fff;
}

.text_main_container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    text-align: center;
    padding-top: 138px !important;
    padding-bottom: 143px !important;
}

.single-img {
    text-align: center;
}

.single-image .vc_figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}

.single-image .single-img-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

h2 {
    font-family: Poppins,sans-serif;
    color: #333;
    font-size: 30px;
    line-height: 1.35em;
    font-weight: 300;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0;
}

.venue-content {
    padding-top: 175px !important;
    padding-bottom: 165px !important;
}

.venue-content .venue-content-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.venue-content .venue-content-inner-margin {
    display: flex;
    align-items: center;
}

.venue-content-inner-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.column-container {
    padding-left: 0;
    padding-right: 0;
}


.column-container>.column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.title-column {
    margin-bottom: 35px;
}

.single-image .vc_figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.button-map.button-outline {
    border: 2px solid #eaeaea;
    color: #333;
    background-color: transparent;
    border-radius: 2px;
}

.button-map {
    display: inline-block;
    position: relative;
    outline: 0;
    font-style: normal;
    font-weight: 500;
    padding: 0 32px;
    font-size: 12px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
    letter-spacing: .5px;
    box-sizing: border-box;
}

.button-map:hover {
    background-color: antiquewhite;
}

.icon-map {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.place-content {
    background-image: url(https://annecharlotteandadnan.com/wp-content/uploads/2019/08/IMG_20190713_140610_1.jpg);
    min-height: 500px;
    height: auto;
    background-position: 50%;
    text-align: center;
}

.place-content .place-content-inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.place-text {
    font-family: Homemade Apple;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.place-text-date {
    font-family: Poppins;
    font-size: 72px;
    line-height: 78px;
    font-weight: 300;
    color: #ffffff;
}

.rsvp-content {
    padding-top: 250px !important;
    padding-bottom: 250px !important;
    background-image: url(https://annecharlotteandadnan.com/wp-content/uploads/2019/08/IMG_20190713_140610_1.jpg); !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: center;
}

.rsvp-content .rsvp-content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.rsvp-content-inner-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.rsvp-wrapper {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

h3 {
    font-family: Homemade Apple;
    font-size: 72px;
    line-height: 90px;
    font-weight: 100;
    color: #ffffff;
}